* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    flex-direction: column;
}

.headerFirstDiv {
    text-align: center;
}

.headerFirstDiv i {
    font-size: 30px;
}

.headerFirstDiv img {
    width: 50%;
    margin-top: 14px;
    vertical-align: middle;
}

.headerSecondDiv {
    display: flex;
    flex-direction: row;
}