* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

main {
    z-index: 4;
    position: relative;
}

/* LOADER */

.loader {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 9999;
    animation: fill 3s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.loader h2 {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #101010;
}

.wine-glass {
    height: 50px;
    width: 50px;
    border: 3px solid #000;
    border-radius: 0 0 50% 50%;
    background-repeat: repeat-x;
    position: relative;
    overflow: hidden;
}

.glass-stem {
    height: 50px;
    width: 5px;
    background: #000;
}

.glass-base {
    height: 10px;
    width: 35px;
    background: #000;
    border-radius: 50%;
}


@keyframes fill {
    0% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* PARTIE LOADER 2 */

.container {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 25px;
    animation: up-wine-contain 3s infinite;
}

@keyframes up-wine-contain {
    from { transform: translateY(0);}
    to { transform: translateY(-25px);}
}

.container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    background: #d86ddb;
    top: 100%;
    animation: up-wine 3s infinite;
}

@keyframes up-wine {
    from { height: 0px;}
    to { height: 25px;}
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);;
    overflow: hidden;
}

.wave {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -150%;
    left: 50%;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 40%;
    background: white;
    animation: wave 5s infinite linear;
}

@keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
}

/* FIN LOADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerDiv {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.headerDiv img {
    margin: auto;
    width: 162px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.topContainerExplorer i {
    font-size: 16px;
    padding-right: 17px;
}

.topContainerExplorer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: #EAEAEA;
}

.topContainerExplorer h4 {
    font-weight: 500;
    font-size: 16px;
}

.containerExplorerRestau {
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.3;
    text-align: center;
}

.containerExplorerRestau h2 {
    width: 75%;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
}

.containerExplorerRestau p {
    width: 90%;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 25px;
}

.containerExplorerRestau a {
    margin-bottom: 25px;
    height: 50px;
    width: 218px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3.1;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    transition: 0.2s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.containerExplorerRestau a:hover {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    opacity: 0.8;
}

.containerFonctionnement {
    display: grid;
    padding: 48px 20px 68px 20px;
    place-items: center;
}

.containerFonctionnement h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-right: auto;
    position: relative;
}   

.listeChoixRestaurant {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    width: 100%;
}

.buttonChoixRestaurant {
    height: 72px;
    width: 100%;
    cursor: pointer;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin: 12.5px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonChoixRestaurant p {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buttonChoixRestaurant i {
    width: 16px;
    padding-left: 10%;
    display: flex;
    justify-content: space-around;
}

.buttonChoixRestaurant:hover i {
    color: #9356DC;
}

.containerChoixRestaurants {
    padding: 20px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.containerChoixRestaurants h2 {
    margin-top: 34px;
}

.containerChoixRestaurants .cardRestaurant {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
}

.containerChoixRestaurants a {
    text-decoration: none;
    outline: none;
    color: black;
}

.cardRestaurant h4 {
    background: #99E2D0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px; 
    color: #008766;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-15%, 25%);
}

.containerChoixRestaurants img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 174px;
}

.chiffreListeChoixRestau {
    background: #9356DC;
    color: #FFFFFF;
    list-style: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: -10px;
    z-index: 2;
}

.card-content {
    position: relative;
    display: flex;
    margin: 16px 13px 12px;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    cursor: pointer;
    overflow: hidden;
    transition: .25s;
}

.card-content h3 {
    font-weight: 700;
    font-size: 18px;
}

.card-txt {
    display: flex;
}

.card-txt button {
    margin-left: auto;
    margin-right: 25px;
    bottom: 10px;
    position: relative;
}

.card-txt p {
    font-weight: 300;
    font-size: 17px;
}

.topHeart {
    border: none;
    outline: none;
    cursor: pointer;
    width: 23px;
    height: 22px;
    background: url(/images/clean_liked.png) no-repeat center;
    transition: .25s;
    margin-right: 41px;
}

.topHeart:hover {
    background: url(/images/status_liked.png) no-repeat center;
}

footer {
    padding: 22px 25px;
}

footer h3 {
    width: 25%;
    font-family: 'Shrikhand';
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 18px;
}

footer .containerFooter {
    list-style: none;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    padding: 0;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    color: white;
}

.containerFooter li {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 7px;
    text-align: left;
    display: flex;
    cursor: pointer;
}

.containerFooter .fa-solid  {
    font-size: 13px;
    line-height: 11px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.containerFooter .fa-handshake-simple {
    width: 11.92px;
    height: 13px;
}

footer {
    background: #353535;
    color: #FFFFFF;
}

/* RESPONSIVE */

@media (min-width: 768px) {
    .headerDiv {
        height: 96px;
    }

    .headerDiv img {
       width: 200px;
    } 

    .containerExplorerRestau h2 {
        font-size: 40px;
    }

    .containerExplorerRestau p {
        font-size: 18px;
    }

    .containerExplorerRestau a {
        width: 218px;
    }

    .containerFonctionnement {
        flex-direction: row;
        display: grid;
        padding: 48px 20px 68px 20px;
        place-items: center;
    }
    
    .listeChoixRestaurant {
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}